@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #ffffff;
	font-family: 'STIX Two Math', serif;
}

main{
	width: 80%;
	height: 1145px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

#caja{
	border-right: 4px solid #000000;
	border-left: 4px solid #000000;
}

#texto1{
	float: left;
	font-size: 20px;
	width: 550px;
	margin-top: 6%;
	margin-left: 2%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}

header{
	width: 100%;
	height: 200px;
	background-image: url(fq2.png);
	background-color: #7dc4c7;
}

nav{
	width: 100%;
	height: 25px;
	background-color: #264d4f;
}

section{
	width: 100%;
	height: 820px;
	background-color: #264d4f;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #d1fdff;
}


#nombre{
	height: 100px;
	width: 200px;
	background-color: #264d4f;
	color: #6fc3c7;
	text-align: center;
	font-size: 50px;
	margin-left: 5%;
	padding-top: 50px;
}

#imagenes{
	float: right;
	margin-right: 5%;
}

.logoup{
	margin-left: 8%;
	margin-top: 1%;
	float: left;
}

.agus{
	padding-top: 3%;
	color: #264d4f;
	float: left;
	margin-left: 25%;
	margin-top: 2%;
}

#logo{
	float: right;
	width: 23%;
}

#logo li{
	display: inline;
}

#logo li img{
	text-decoration: none;
	margin-top: 15%;
	padding-right: 5%;
}

/*celular*/
@media (min-width: 576px) and (max-width: 767px) 
{
.noesta{display: none;}
#contenedor{
	width: 100%;
	margin: 0;}
#contenedor .primero,#contenedor .segundo{
	width: 100%; 
	float: none;}
main{
	width: 80%;
	height: 1543px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
section{
	height: 1200px;
}

#texto1{
	float: left;
	font-size: 20px;
	width: 400px;
	margin-top: 6%;
	margin-left: 5%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}
.agus{
	padding-top: 3%;
	color: #264d4f;
	float: left;
	margin-left: 13%;
	margin-top: 5%;
}
footer{
	width: 100%;
	height: 120px;
	background-color: #d1fdff;
}
.logoup{
	margin-left: 8%;
	margin-top: 3%;
	float: left;
}
}


/*tablet*/
@media (min-width: 768px) and (max-width: 991px) 
{
.noesta{display: none;}
section{
	width: 100%;
	height: 1100px;
	background-color: #264d4f;
}
footer{
	width: 100%;
	height: 130px;
	background-color: #d1fdff;
}
.logoup{
	margin-left: 8%;
	margin-top: 5%;
	float: left;
}
.agus{
	padding-top: 3%;
	color: #264d4f;
	float: left;
	margin-left: 13%;
	margin-top: 5%;
}
main{
	width: 80%;
	height: 1450px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
#texto1{
	float: left;
	font-size: 20px;
	margin-top: 6%;
	margin-left: 5%;
	color: #000000;
	background-color: #d1fdff;
	border: 5px outset #1C6EA4;
	border-radius: 40px;
	padding: 3%;
}
